In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('dictionaries/hk_street_names.csv', sep=',', 
    header=None, names=['road_name_ch', 'road_name_en', 'area_ch', 'area_en'])

In [3]:
"_".join("Yat Ming Road".split() )

'Yat_Ming_Road'

In [4]:
df['road_name_en'] = df['road_name_en'].str.split().apply("_".join)
df['area_en'] = df['area_en'].str.split().apply("_".join)

In [10]:
df.head()

  road_name_ch           road_name_en area_ch       area_en
0          一鳴路          Yat_Ming_Road      粉嶺       Fanling
1         丁貴坊街  Ting_Kwai_Fong_Street      坪洲     Peng_Chau
2          丁香徑             Lilac_Path      元朗     Yuen_Long
3          丁香街           Lilac_Street     深水埗  Sham_Shui_Po
4         七姊妹道      Tsat_Tsz_Mui_Road      北角   North_Point

In [6]:
df_road_name_ch = df[['road_name_ch']].copy()

In [7]:
df_road_name_ch['pos_tag'] = 'ns'

In [9]:
df_road_name_ch.head()

  road_name_ch pos_tag
0          一鳴路      ns
1         丁貴坊街      ns
2          丁香徑      ns
3          丁香街      ns
4         七姊妹道      ns

In [12]:
df_road_name_ch.to_csv('dictionaries/hk_street_names.txt',
    index=False, header=False)